# .NET
bin/
obj/
*.user
*.suo
.vs/
*.DotSettings.user

# Angular / Node
node_modules/
dist/
dist-electron/
.angular/

# Electron
out/

# Environment
.env
.env.local

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/settings.json
*.swp
